#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header li a {
    color: #383e45;
}

a {
  text-decoration: none;
}



.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
}
*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
header {
  display: block;
}
body {
  color: #383e45;
  font-size: 0.9rem;
}
html {
  font-size: 100%;
}
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}
:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}
*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}
*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}