#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header li a {
  color: #383e45;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

header {
  display: block;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

a {
  text-decoration: none;
  padding-left: 30px;

}

a {
  background-color: transparent;
}

ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-type:none;
}


footer {
  display: block;
}

#footer {
  text-align: center;
  font-size: 0.5rem;
  padding: ;
}



.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}
*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}