body {
  color: #383e45;
  font-size: 0.9rem;
}

* {
  padding: 0;
   /* padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px; */
  margin: 0;
   /* margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px; */
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

html {
 font-size: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  tab-size: 4;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}